/* Estilos aplicados ao basico da pagina*/
body{
    font-family: arial,sans-serif;
    background: #f1f5f9;
    text-align: center;
    padding: 3rem;
}

/* Classe base para todos os botões */
.btn{
    background: white; /* Cor iniciaç do botão */
    border: 2px solid #ccc;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.4 ease; /* Suaviza a transição de cor */
}

/* Botão azul */
.btn-azul:hover{
    background: linear-gradient(90deg,#60a5fa,#1e3a8a);/* Degrade azul quando passa o mouse */
    color: white;
    border-color: #1e3a8a;
}

/* botão amarelo */
.btn-amarelo:active{
    background: linear-gradient(90deg, #facc15,#ca8a04);
    color: black;
    border-color: #ca8a04;
}